.result__section {
    font-weight: 700;
    margin: 5px;
    padding: 5px; 
}

@media (max-width: 767px) {
    .result__label {
        display: grid;
        grid-template-columns: 1fr ;
    }
}

.result__value {
    margin: 5px 10px;
}

@media (max-width: 767px) {
    .result__value {
        margin: 5px 0px;
    }
}