.buttons__button {
    border-radius: 5px;
    border-color: black;
    background-color: orange;
    width: 100px;
    height: 30px;
    position: relative;
    box-shadow: 5px -5px 24px 0px rgba(127, 82, 0, 0.30);
}